<?xml version="1.0"?>
<model>
  <name>nec0115a_arena</name>
  <version>0.1.0</version>
  <author>
   <name>Xiangfei Kong</name>
   <email>xiangfeikong@usf.edu</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    Arena model for RARE lab experiment in NEC0115A at USF
  </description>
</model>
