<?xml version="1.0"?>
<model>
  <name>rarelab_long_table</name>
  <version>0.1.0</version>
  <author>
   <name>Xiangfei Kong</name>
   <email>xiangfeikong@usf.edu</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    This is the long table for the RARE lab NEC0115A arena.
  </description>
</model>
