<?xml version="1.0" ?>
<launch>


  <arg name="x" default="3.603035" />
  <arg name="y" default="-3.594756" />
  <arg name="z" default="0.0" />
  <arg name="yaw" default="-1.57" />
  <arg name="robot_name_fetch" default="fetch"/>

  <arg name="x_fetch2" default="3.603035" />
  <arg name="y_fetch2" default="-3.594756" />
  <arg name="z_fetch2" default="0.0" />
  <arg name="yaw_fetch2" default="-1.57" />
  <arg name="robot_name_fetch2" default="fetch2"/>



  <!-- Oh, you wanted a robot? -->
  <include file="$(find fetch_gazebo)/launch/include/fetch_pp.launch.xml" >
  <!-- include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml" --> <!-- Arm tucked, like Fetch Playground demo -->
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="yaw" value="$(arg yaw)" />
    <arg name="robot_name" value="$(arg robot_name_fetch)" />
  </include>

  <!-- Include Fetch 2 robot using the same fetch_pp.launch.xml -->
  <include file="$(find fetch_gazebo)/launch/include/fetch_pp.launch.xml">
    <arg name="x" value="$(arg x_fetch2)" />
    <arg name="y" value="$(arg y_fetch2)" />
    <arg name="z" value="$(arg z_fetch2)" />
    <arg name="yaw" value="$(arg yaw_fetch2)" />
    <arg name="robot_name" value="$(arg robot_name_fetch2)" />
  </include>

</launch>